
CLERK_PUBLISHABLE_KEY=pk_test_dHJ1c3R5LXN0aW5ncmF5LTI5LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_mqEqxQsduH9UAHjxxRMvSeA2Y4yYAMVBmTVmcUsg1Z
VITE_API_URL=http://127.0.0.1:8000/api

VITE_GOOGLE_CLIENT_ID=221333375229-b2827pl4es3nco1bmblrk6se7pcpji4s.apps.googleusercontent.com
VITE_CLERK_PUBLISHABLE_KEY=pk_test_dHJ1c3R5LXN0aW5ncmF5LTI5LmNsZXJrLmFjY291bnRzLmRldiQ